.control-block {
	width: 100%;
	height: 5em;
	margin-left: 10px; 
}

.page-btn {
	width : 50px;
}

html {
	background: #adb5bd;
	width: 95%;
	margin: auto;
}
.bg-main {
	background: #adb5bd
}